
{% extends 'web/base.html' %}
{% load static %}

{% block titulo %}Recuperar contraseña{% endblock %}

{% block extra_css %}

{% endblock %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><h2>Cambio de Contraseña realizado con exito</h2></strong> <p>Ya podes <a href="{% url 'login' %}">Ingresar</a> con la nueva contraseña</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% block main %}



{% endblock %}