.logo{
    width: 80px;
}

header .messages {
    position: fixed;
    top: 15px;
    right: 15px;
    list-style-type: none;
    
    
}

header .messages .success {
    background-color: rgba(0,255,0,0.5);
    padding: 15px;
    color: white;
    border-radius: 5px;
    border: solid 5px white;
    
}


main{
    display: flex;
    flex-direction: column;
    min-height: 100vh ;
    padding: 15px 10px;
    
}


.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}



footer {
    background-color: black;
    color: gray;
    display: flex;
    flex-direction: column;
   
}

.parrafo_footer{
    padding: 25px 0;
}