.logo{
    width: 80px;
}

header .messages {
    position: fixed;
    top: 15px;
    right: 15px;
    list-style-type: none;
    
    
}

header .messages .success {
    background: linear-gradient(to top, #ffa500, #f4f4f4, #00bfff);
    padding: 15px;
    color: rgb(21, 20, 20);
    border-radius: 5px;
    border: solid 5px white;
    
}


main{
    display: flex;
    flex-direction: column;
    min-height: 100vh ;
    padding: 15px 10px;
    background: linear-gradient(to top, #ffa500, #f4f4f4, #00bfff);
    
}


.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}



footer {
    background-color: black;
    color: gray;
    display: flex;
    flex-direction: column;
   
}

.parrafo_footer{
    padding: 25px 0;
}